proxmox_api_url = "https://<proxmox_ip>:<proxmox_port>/api2/json"
proxmox_api_token_id = "<proxmox-prov>@<pve!ProxmoxProv>"
proxmox_api_token_secret = "<xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx"

guest_gecos = "<username>, <description>"
guest_username = "<username>"
guest_password = "<plain_password>"
guest_password_encrypted = "<echo 'your_password' | openssl passwd -6 -stdin>"
guest_ssh_key = "ssh-ed25519 <key> <description>"